<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://watchportalrost.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5e575abe-e69b-41ef-b4a2-6f14b57e76a1/resourceGroups/RostyslavOnboarding/providers/Microsoft.Web/sites/watchportalrost</ResourceId>
    <UserName>$watchportalrost</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://watchportalrost.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>